name: add artifact links to pr
on:
  workflow_run:
    workflows: ["bmark_M1"]
    types: [completed]

jobs:
  artifacts-url-comments:
    name: add artifact links to pull request and related issues job
    runs-on: [linux, ubuntu-latest]
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: add artifact links to pull request and related issues
        uses: veitbjarsch/artifacts-url-comments@v1.1.0
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            prefix: "Full benchmark results:"
            format: name
            addTo: pull
